/* FONT FACE SETTINGS */

@font-face {
  font-family: "MS-Regular";
  src: local("MS-Regular"),
    url("./toolbox/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MS-Medium";
  src: local("MS-Medium"),
    url("./toolbox/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MS-SemiBold";
  src: local("MS-SemiBold"),
    url("./toolbox/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MS-Bold";
  src: local("MS-Bold"),
    url("./toolbox/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
